.nav-wrapper {
  height: 80px;
}

.brand-logo {
  line-height: 80px;
  padding-left: 110px;
  font-size: 36px;
  font-family: "Baloo Bhaijaan", cursive;
  color: #01abaa;
}

#map-view {
  border: 2px solid #01abaa;
  background-color: #01abaa;
}

#side-menu {
  background-color: white;
  width: 100%;
  height: 500px;
}

#map-instructions {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

#quickest-route-btn {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

#save-instructions {
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
}

#save-route-btn {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

#edit-route-textbox {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

.edit-route-name-input {
  width: 70%;
}

#saved-routes {
  margin-top: 30px;
  overflow-y: auto;
}

#saved-routes-container {
  overflow-y: auto;
  height: 160px;
  border: 1px solid midnightblue;
}

#route-directions-title {
  font-family: "Slabo 27px", serif;
  font-size: 24px;
  margin-top: 20px;
}

.direction-step {
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 10px;
}
