.nav-wrapper {
  height: 80px;
}

.brand-logo {
  line-height: 80px;
  padding-left: 110px;
  font-size: 28px;
}

#map-view {
  border: 2px solid midnightblue;
  background-color: midnightblue;
}

#side-menu {
  background-color: white;
  width: 100%;
  height: 500px;
}

#map-instructions {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

#quickest-route-btn {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

#save-instructions {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#save-route-btn {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

#edit-route-textbox {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

.edit-route-name-input {
  width: 70%;
}

#saved-routes {
  margin-top: 30px;
  overflow-y: auto;
}

#saved-routes-container {
  overflow-y: auto;
  height: 160px;
  border: 1px solid midnightblue;
}
